.js-panes-control {
    list-style: none;

    .js-tab-item {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        &:first-child {
            margin-left: 0;
        }

    }
    .js-pane-trigger {
        display: block;
        position: relative;
    }
}

.js-panes {
    position: relative;
    .js-pane {
        position: relative;
        left:0;
        top:0;
        overflow: hidden;
        display: none;
        &.active {
            display: block;
        }
    }
}

