/* ----------------- SIZES ---------------- */
$baseWidth: 1000px;
$headerHeight: 35px;
$footerHeight: 52px;
$sidebarWidth: 280px;
$sidebarGutter: 40px;
$contentWidth: 960px;

/* ---------------- COLORS ---------------- */

$cBlack: #353636;
$cWhite: #fff;
$cLink: #de0f22;
$cLinkActive: #de0f22;
$cLinkVisited: #de717b;
